In [1]:
import pandas as pd

In [2]:
# season_0910 = pd.read_csv('../../../epl/data/matches/season-0910.csv')
# season_1011 = pd.read_csv('../../../epl/data/matches/season-1011.csv')
# season_1112 = pd.read_csv('../../../epl/data/matches/season-1112.csv')
# season_1213 = pd.read_csv('../../../epl/data/matches/season-1213.csv')
# season_1314 = pd.read_csv('../../../epl/data/matches/season-1314.csv')
# season_1415 = pd.read_csv('../../../epl/data/matches/season-1415.csv')
# season_1516 = pd.read_csv('../../../epl/data/matches/season-1516.csv')
# season_1617 = pd.read_csv('../../../epl/data/matches/season-1617.csv')
# season_1718 = pd.read_csv('../../../epl/data/matches/season-1718.csv')
# season_1819 = pd.read_csv('../../../epl/data/matches/season-1819.csv')

In [3]:
# with open('../../../epl/data/matches/merged_data.csv', 'a') as f:
#              season_0910.to_csv(f, header=True)
# with open('../../../epl/data/matches/merged_data.csv', 'a') as f:
#              season_1011.to_csv(f, header=False)
# with open('../../../epl/data/matches/merged_data.csv', 'a') as f:
#              season_1112.to_csv(f, header=False)
# with open('../../../epl/data/matches/merged_data.csv', 'a') as f:
#              season_1213.to_csv(f, header=False)
# with open('../../../epl/data/matches/merged_data.csv', 'a') as f:
#              season_1314.to_csv(f, header=False)
# with open('../../../epl/data/matches/merged_data.csv', 'a') as f:
#              season_1415.to_csv(f, header=False)
# with open('../../../epl/data/matches/merged_data.csv', 'a') as f:
#              season_1516.to_csv(f, header=False)
# with open('../../../epl/data/matches/merged_data.csv', 'a') as f:
#              season_1617.to_csv(f, header=False)
# with open('../../../epl/data/matches/merged_data.csv', 'a') as f:
#              season_1718.to_csv(f, header=False)
# with open('../../../epl/data/matches/merged_data.csv', 'a') as f:
#              season_1819.to_csv(f, header=False)

In [4]:
merged_data = pd.read_csv('merged_data.csv')

In [5]:
merged_data

,Unnamed: 0,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
0,0,2009-08-15,Aston Villa,Wigan,0,2,A,0,1,A,...,5,7,15,14,4,6,2,2,0,0
1,1,2009-08-15,Blackburn,Man City,0,2,A,0,1,A,...,9,5,12,9,5,4,2,1,0,0
2,2,2009-08-15,Bolton,Sunderland,0,1,A,0,1,A,...,3,13,16,10,4,7,2,1,0,0
3,3,2009-08-15,Chelsea,Hull,2,1,H,1,1,D,...,12,3,13,15,12,4,1,2,0,0
4,4,2009-08-15,Everton,Arsenal,1,6,A,0,3,A,...,5,9,11,13,4,9,0,0,0,0
5,5,2009-08-15,Portsmouth,Fulham,0,1,A,0,1,A,...,4,3,11,18,6,4,3,2,0,0
6,6,2009-08-15,Stoke,Burnley,2,0,H,2,0,H,...,5,5,15,10,3,6,2,2,0,0
7,7,2009-08-15,Wolves,West Ham,0,2,A,0,1,A,...,11,13,9,5,8,6,0,0,0,0
8,8,2009-08-16,Man United,Birmingham,1,0,H,1,0,H,...,17,4,13,7,13,2,1,1,0,0
9,9,2009-08-16,Tottenham,Liverpool,2,1,H,1,0,H,...,11,3,14,16,6,5,3,3,0,0
10,10,2009-08-18,Sunderland,Chelsea,1,3,A,1,0,H,...,3,9,14,10,1,14,2,2,0,0
11,11,2009-08-18,Wigan,Wolves,0,1,A,0,1,A,...,5,3,8,21,4,4,0,3,0,0
12,12,2009-08-19,Birmingham,Portsmouth,1,0,H,0,0,D,...,5,4,11,20,4,5,0,5,0,0
13,13,2009-08-19,Burnley,Man United,1,0,H,1,0,H,...,2,9,8,12,1,12,2,1,0,0
14,14,2009-08-19,Hull,Tottenham,1,5,A,1,3,A,...,7,12,23,13,6,5,3,2,0,0
15,15,2009-08-19,Liverpool,Stoke,4,0,H,2,0,H,...,13,3,10,9,11,5,0,1,0,0
16,16,2009-08-22,Arsenal,Portsmouth,4,1,H,2,1,H,...,16,4,9,10,8,4,1,0,0,0
17,17,2009-08-22,Birmingham,Stoke,0,0,D,0,0,D,...,6,3,8,13,3,3,0,3,0,0
18,18,2009-08-22,Hull,Bolton,1,0,H,0,0,D,...,5,10,19,19,4,12,3,2,0,0
19,19,2009-08-22,Man City,Wolves,1,0,H,1,0,H,...,11,2,7,11,5,6,0,1,0,0
20,20,2009-08-22,Sunderland,Blackburn,2,1,H,1,1,D,...,5,5,12,14,0,10,2,1,0,0
21,21,2009-08-22,Wigan,Man United,0,5,A,0,0,D,...,7,13,11,8,3,5,2,2,0,0
22,22,2009-08-23,Burnley,Everton,1,0,H,1,0,H,...,4,11,11,13,3,7,1,0,0,0
23,23,2009-08-23,Fulham,Chelsea,0,2,A,0,1,A,...,1,4,11,10,4,7,0,0,0,0
24,24,2009-08-23,West Ham,Tottenham,1,2,A,0,0,D,...,8,10,13,11,4,8,2,1,0,0
25,25,2009-08-24,Liverpool,Aston Villa,1,3,A,0,2,A,...,12,4,15,11,10,4,3,2,0,0
26,26,2009-08-29,Blackburn,West Ham,0,0,D,0,0,D,...,9,5,13,18,5,2,1,3,0,0
27,27,2009-08-29,Bolton,Liverpool,2,3,A,1,1,D,...,5,14,14,7,5,11,3,1,1,0
28,28,2009-08-29,Chelsea,Burnley,3,0,H,1,0,H,...,17,0,7,5,10,1,0,1,0,0
29,29,2009-08-29,Man United,Arsenal,2,1,H,0,1,A,...,4,3,21,15,6,5,3,6,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3610,190,2018-12-29,Brighton,Everton,1,0,H,0,0,D,...,3,4,10,11,6,6,0,2,0,0
3611,191,2018-12-29,Fulham,Huddersfield,1,0,H,0,0,D,...,5,5,12,10,4,3,3,1,0,0
3612,192,2018-12-29,Leicester,Cardiff,0,1,A,0,0,D,...,7,3,14,16,10,4,0,2,0,0
3613,193,2018-12-29,Liverpool,Arsenal,5,1,H,4,1,H,...,10,2,8,13,5,3,1,2,0,0
3614,194,2018-12-29,Tottenham,Wolves,1,3,A,1,0,H,...,3,4,7,7,6,7,3,2,0,0
3615,195,2018-12-29,Watford,Newcastle,1,1,D,0,1,A,...,5,2,17,16,3,6,1,2,0,0
3616,196,2018-12-30,Burnley,West Ham,2,0,H,2,0,H,...,5,4,15,11,5,5,1,4,0,0
3617,197,2018-12-30,Crystal Palace,Chelsea,0,1,A,0,0,D,...,0,4,11,8,3,4,0,1,0,0
3618,198,2018-12-30,Man United,Bournemouth,4,1,H,3,1,H,...,8,3,10,7,4,5,2,0,1,0
3619,199,2018-12-30,Southampton,Man City,1,3,A,1,3,A,...,4,6,11,10,3,8,2,3,1,0
3620,200,2019-01-01,Arsenal,Fulham,4,1,H,1,0,H,...,9,4,7,12,8,3,0,1,0,0
3621,201,2019-01-01,Cardiff,Tottenham,0,3,A,0,3,A,...,3,4,6,6,5,3,1,0,0,0
3622,202,2019-01-01,Everton,Leicester,0,1,A,0,0,D,...,2,4,5,8,6,5,3,1,0,0
3623,203,2019-01-02,Bournemouth,Watford,3,3,D,3,3,D,...,12,3,9,15,4,2,1,4,0,0
3624,204,2019-01-02,Chelsea,Southampton,0,0,D,0,0,D,...,6,2,8,11,7,2,1,2,0,0
3625,205,2019-01-02,Huddersfield,Burnley,1,2,A,1,1,D,...,2,8,11,9,5,2,0,4,1,1
3626,206,2019-01-02,Newcastle,Man United,0,2,A,0,0,D,...,3,7,10,9,1,2,1,2,0,0
3627,207,2019-01-02,West Ham,Brighton,2,2,D,0,0,D,...,6,6,9,11,1,5,0,1,0,0
3628,208,2019-01-02,Wolves,Crystal Palace,0,2,A,0,0,D,...,1,4,9,7,3,10,4,1,0,0
3629,209,2019-01-03,Man City,Liverpool,2,1,H,1,0,H,...,4,5,12,7,2,1,4,2,0,0
3630,210,2019-01-12,Brighton,Liverpool,0,1,A,0,0,D,...,0,3,15,5,2,7,0,0,0,0
3631,211,2019-01-12,Burnley,Fulham,2,1,H,2,1,H,...,0,4,5,9,2,6,1,2,0,0
3632,212,2019-01-12,Cardiff,Huddersfield,0,0,D,0,0,D,...,0,2,12,14,3,10,3,1,0,0
3633,213,2019-01-12,Chelsea,Newcastle,2,1,H,1,1,D,...,6,2,6,13,8,5,1,1,0,0
3634,214,2019-01-12,Crystal Palace,Watford,1,2,A,1,0,H,...,6,2,11,11,7,7,1,4,0,0
3635,215,2019-01-12,Leicester,Southampton,1,2,A,0,2,A,...,6,3,7,9,10,3,2,1,0,1
3636,216,2019-01-12,West Ham,Arsenal,1,0,H,0,0,D,...,3,2,7,10,7,3,0,2,0,0
3637,217,2019-01-13,Everton,Bournemouth,2,0,H,0,0,D,...,3,7,17,8,5,9,5,0,0,0
3638,218,2019-01-13,Tottenham,Man United,0,1,A,0,1,A,...,11,8,8,8,7,4,1,2,0,0
3639,219,2019-01-14,Man City,Wolves,3,0,H,2,0,H,...,9,0,6,3,12,1,1,0,0,1

In [6]:
combine = [merged_data]
for row in combine:
    row.loc[row['HomeTeam'] == 'Aston Villa', 'HomeTeam'] = 0
    row.loc[row['HomeTeam'] == 'Blackburn', 'HomeTeam'] = 1
    row.loc[row['HomeTeam'] == 'Bolton', 'HomeTeam'] = 2
    row.loc[row['HomeTeam'] == 'Chelsea', 'HomeTeam'] = 3
    row.loc[row['HomeTeam'] == 'Everton', 'HomeTeam'] = 4
    row.loc[row['HomeTeam'] == 'Portsmouth', 'HomeTeam'] = 5
    row.loc[row['HomeTeam'] == 'Stoke', 'HomeTeam'] = 6
    row.loc[row['HomeTeam'] == 'Wolves', 'HomeTeam'] = 7
    row.loc[row['HomeTeam'] == 'Man United', 'HomeTeam'] = 8
    row.loc[row['HomeTeam'] == 'Tottenham', 'HomeTeam'] = 9
    row.loc[row['HomeTeam'] == 'Sunderland', 'HomeTeam'] = 10
    row.loc[row['HomeTeam'] == 'Wigan', 'HomeTeam'] = 11
    row.loc[row['HomeTeam'] == 'Birmingham', 'HomeTeam'] = 12
    row.loc[row['HomeTeam'] == 'Burnley', 'HomeTeam'] = 13
    row.loc[row['HomeTeam'] == 'Hull', 'HomeTeam'] = 14
    row.loc[row['HomeTeam'] == 'Liverpool', 'HomeTeam'] = 15
    row.loc[row['HomeTeam'] == 'Arsenal', 'HomeTeam'] = 16
    row.loc[row['HomeTeam'] == 'Birmingham', 'HomeTeam'] = 17
    row.loc[row['HomeTeam'] == 'Man City', 'HomeTeam'] = 18
    row.loc[row['HomeTeam'] == 'Fulham', 'HomeTeam'] = 19
    row.loc[row['HomeTeam'] == 'West Ham', 'HomeTeam'] = 20
    row.loc[row['HomeTeam'] == 'Bolton', 'HomeTeam'] = 21
    row.loc[row['HomeTeam'] == 'Brighton', 'HomeTeam'] = 22
    row.loc[row['HomeTeam'] == 'Huddersfield', 'HomeTeam'] = 23
    row.loc[row['HomeTeam'] == 'Leicester', 'HomeTeam'] = 24
    row.loc[row['HomeTeam'] == 'Watford', 'HomeTeam'] = 25
    row.loc[row['HomeTeam'] == 'Crystal Palace', 'HomeTeam'] = 26
    row.loc[row['HomeTeam'] == 'Southampton', 'HomeTeam'] = 27
    row.loc[row['HomeTeam'] == 'Cardiff', 'HomeTeam'] = 28
    row.loc[row['HomeTeam'] == 'West Brom', 'HomeTeam'] = 29
    row.loc[row['HomeTeam'] == 'Newcastle', 'HomeTeam'] = 30
    row.loc[row['HomeTeam'] == 'Blackpool', 'HomeTeam'] = 31
    row.loc[row['HomeTeam'] == 'QPR', 'HomeTeam'] = 32
    row.loc[row['HomeTeam'] == 'Swansea', 'HomeTeam'] = 33
    row.loc[row['HomeTeam'] == 'Norwich', 'HomeTeam'] = 34
    row.loc[row['HomeTeam'] == 'Reading', 'HomeTeam'] = 35
    row.loc[row['HomeTeam'] == 'Bournemouth', 'HomeTeam'] = 36
    row.loc[row['HomeTeam'] == 'Middlesbrough', 'HomeTeam'] = 37
    
    row['HomeTeam'] = row['HomeTeam'].astype(int)

    row.loc[row['AwayTeam'] == 'Aston Villa', 'AwayTeam'] = 0
    row.loc[row['AwayTeam'] == 'Blackburn', 'AwayTeam'] = 1
    row.loc[row['AwayTeam'] == 'Bolton', 'AwayTeam'] = 2
    row.loc[row['AwayTeam'] == 'Chelsea', 'AwayTeam'] = 3
    row.loc[row['AwayTeam'] == 'Everton', 'AwayTeam'] = 4
    row.loc[row['AwayTeam'] == 'Portsmouth', 'AwayTeam'] = 5
    row.loc[row['AwayTeam'] == 'Stoke', 'AwayTeam'] = 6
    row.loc[row['AwayTeam'] == 'Wolves', 'AwayTeam'] = 7
    row.loc[row['AwayTeam'] == 'Man United', 'AwayTeam'] = 8
    row.loc[row['AwayTeam'] == 'Tottenham', 'AwayTeam'] = 9
    row.loc[row['AwayTeam'] == 'Sunderland', 'AwayTeam'] = 10
    row.loc[row['AwayTeam'] == 'Wigan', 'AwayTeam'] = 11
    row.loc[row['AwayTeam'] == 'Birmingham', 'AwayTeam'] = 12
    row.loc[row['AwayTeam'] == 'Burnley', 'AwayTeam'] = 13
    row.loc[row['AwayTeam'] == 'Hull', 'AwayTeam'] = 14
    row.loc[row['AwayTeam'] == 'Liverpool', 'AwayTeam'] = 15
    row.loc[row['AwayTeam'] == 'Arsenal', 'AwayTeam'] = 16
    row.loc[row['AwayTeam'] == 'Birmingham', 'AwayTeam'] = 17
    row.loc[row['AwayTeam'] == 'Man City', 'AwayTeam'] = 18
    row.loc[row['AwayTeam'] == 'Fulham', 'AwayTeam'] = 19
    row.loc[row['AwayTeam'] == 'West Ham', 'AwayTeam'] = 20
    row.loc[row['AwayTeam'] == 'Bolton', 'AwayTeam'] = 21
    row.loc[row['AwayTeam'] == 'Brighton', 'AwayTeam'] = 22
    row.loc[row['AwayTeam'] == 'Huddersfield', 'AwayTeam'] = 23
    row.loc[row['AwayTeam'] == 'Leicester', 'AwayTeam'] = 24
    row.loc[row['AwayTeam'] == 'Watford', 'AwayTeam'] = 25
    row.loc[row['AwayTeam'] == 'Crystal Palace', 'AwayTeam'] = 26
    row.loc[row['AwayTeam'] == 'Southampton', 'AwayTeam'] = 27
    row.loc[row['AwayTeam'] == 'Cardiff', 'AwayTeam'] = 28
    row.loc[row['AwayTeam'] == 'West Brom', 'AwayTeam'] = 29
    row.loc[row['AwayTeam'] == 'Newcastle', 'AwayTeam'] = 30
    row.loc[row['AwayTeam'] == 'Blackpool', 'AwayTeam'] = 31
    row.loc[row['AwayTeam'] == 'QPR', 'AwayTeam'] = 32
    row.loc[row['AwayTeam'] == 'Swansea', 'AwayTeam'] = 33
    row.loc[row['AwayTeam'] == 'Norwich', 'AwayTeam'] = 34
    row.loc[row['AwayTeam'] == 'Reading', 'AwayTeam'] = 35
    row.loc[row['AwayTeam'] == 'Bournemouth', 'AwayTeam'] = 36
    row.loc[row['AwayTeam'] == 'Middlesbrough', 'AwayTeam'] = 37
    
    row['AwayTeam'] = row['AwayTeam'].astype(int)    
    
#     row['FTHG'] = row['FTHG'].astype(int)
#     row['FTAG'] = row['FTAG'].astype(int)

In [7]:
merged_data.head()

,Unnamed: 0,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,...,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR
0,0,2009-08-15,0,11,0,2,A,0,1,A,...,5,7,15,14,4,6,2,2,0,0
1,1,2009-08-15,1,18,0,2,A,0,1,A,...,9,5,12,9,5,4,2,1,0,0
2,2,2009-08-15,2,10,0,1,A,0,1,A,...,3,13,16,10,4,7,2,1,0,0
3,3,2009-08-15,3,14,2,1,H,1,1,D,...,12,3,13,15,12,4,1,2,0,0
4,4,2009-08-15,4,16,1,6,A,0,3,A,...,5,9,11,13,4,9,0,0,0,0

In [8]:
combine = [merged_data]
for row in combine:
    row['result'] = 100 * row['FTHG'] + row['FTAG']

In [9]:
import datetime
combine = [merged_data]
# print(combine[0]['Date'])
for row in combine:
    n = 0
    for str in combine[0]['Date']:
        arr = str.split('-')
        row.loc[n, 'Date'] = '%s' % (arr[0])
        n = n + 1
    row['Date'] = row['Date'].astype(int)
# #         row.loc[i, 'Date'] = 
#     #row.loc[True, 'Date'] = int('%s%s%s' % (arr[0], arr[1], arr[2]))
# #     a = a[0]+a[1]+a[2]
# #     print(int(a))
#     row['Date'] = row['Date'].astype(int)

# #     row['Date'] = datetime.datetime.strptime(row['Date'], '%Y-%m-%d').strftime('%Y%m%d')

In [10]:
merged_data['Date']

0       2009
1       2009
2       2009
3       2009
4       2009
5       2009
6       2009
7       2009
8       2009
9       2009
10      2009
11      2009
12      2009
13      2009
14      2009
15      2009
16      2009
17      2009
18      2009
19      2009
20      2009
21      2009
22      2009
23      2009
24      2009
25      2009
26      2009
27      2009
28      2009
29      2009
        ...
3610    2018
3611    2018
3612    2018
3613    2018
3614    2018
3615    2018
3616    2018
3617    2018
3618    2018
3619    2018
3620    2019
3621    2019
3622    2019
3623    2019
3624    2019
3625    2019
3626    2019
3627    2019
3628    2019
3629    2019
3630    2019
3631    2019
3632    2019
3633    2019
3634    2019
3635    2019
3636    2019
3637    2019
3638    2019
3639    2019
Name: Date, Length: 3640, dtype: int64

In [11]:
merged_data = merged_data.drop(['Unnamed: 0', 'FTHG', 'FTAG', 'FTR', 'HTHG', 'HTAG', 'HTR', 'Referee', 'HS', 'AS', 'HST', 'AST', 'HF', 'AF', 'HC', 'AC', 'HY', 'AY', 'HR', 'AR'], axis=1)

In [12]:
merged_data.head()

   Date  HomeTeam  AwayTeam  result
0  2009         0        11       2
1  2009         1        18       2
2  2009         2        10       1
3  2009         3        14     201
4  2009         4        16     106

In [13]:
result = merged_data['result']
merged_data = merged_data.drop(['result'], axis=1)

In [14]:
result.head()

0      2
1      2
2      1
3    201
4    106
Name: result, dtype: int64

In [15]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC, LinearSVC

In [16]:
rf = RandomForestClassifier()
rf.fit(merged_data, result)

/opt/conda/lib/python3.6/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [17]:
svc = SVC()
svc.fit(merged_data, result)

/opt/conda/lib/python3.6/site-packages/sklearn/svm/base.py:196: FutureWarning: The default value of gamma will change from 'auto' to 'scale' in version 0.22 to account better for unscaled features. Set gamma explicitly to 'auto' or 'scale' to avoid this warning.
  "avoid this warning.", FutureWarning)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
  kernel='rbf', max_iter=-1, probability=False, random_state=None,
  shrinking=True, tol=0.001, verbose=False)

In [18]:
real_data = pd.read_csv('match_test.csv')
real_result = svc.predict(real_data)

In [19]:
real_result

array([200, 101, 200, 200,   1,   1, 102, 100, 100,   1])

In [20]:
real_data

   Date  HomeTeam  AwayTeam
0  2019         7        24
1  2019        36        20
2  2019        15        26
3  2019         8        22
4  2019        30        28
5  2019        27         4
6  2019        25        13
7  2019        16         3
8  2019        23        18
9  2019        19         9

In [21]:
rf_result = rf.predict(real_data)